fastapi
sqlalchemy
pydantic
yfinance
requests
beautifulsoup4
psycopg2-binary
cloudinary
python-dotenv
aiohttp
apscheduler
firebase-admin
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
fastapi-mail
email-validator
google-auth
resend
